<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>rasiqra/revulva</title>
		<meta name="rasiqra/revulva" content="rasiqra revulva dot com" />
		<meta name="keywords" content="art, author, poetry, prose, portfolio, queer, canadian" />
		<meta name="author" content="wrrrtika" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/default.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
	  
	  <div class="topper">
			<header class="clearfix">

			<h1>rasiqra / revulva</h1>
			<div class"icons">
			<div class="wrap">
  			<div class="twitter icon"><a href="http://www.twitter.com/rasiqra_revulva" target="_blank"></a>
  			</div>
  			<div class="instagram icon"><a href="http://www.instagram.com/rasiqra_revulva" target="_blank"></a>
  			</div>
  			<div class="etsy icon"><a href="http://www.etsy.com/shop/rasiqrarevulva" target="_blank"></a>
  			</div>
  			<div class="soundcloud icon"><a href="http://www.soundcloud.com/rasiqra-revulva" target="_blank"></a>
  			</div>
  			<div class="facebook icon"><a href="https://www.facebook.com/rasiqra.revulva" target="_blank"></a>
  			</div>
			</div>
			</header>	
	  </div>	

	  		<div class="aboutcontainer">
			<div class="aboutmain">
			<h2>About</h2>
			Rasiqra Revulva is multi-platform, multi-media, multi-dimensional artistic and literary terror.  Rasiqra Revulva demands both input and output.  Rasiqra Revulva divides her time predominantly between the realms of Art and Language and Southern Ontario.  rasiqra revulva does not need to be capitalized.  Rasiqra Revulva is every part of speech.  Rasiqra revulva is a live quasar.  Rasiqra Revulva qua silver, qua veils.  Rasiqra Revulva: larva quivers; viral, alive.
		
			</div>
			</div>


		<div class="nav">
	<a href="/home">Home</a>
    <a href="/contact">Booking/Contact</a>
    <a href="#">Blog</a>
    <a href="#">Links</a>
    </div>
	</body>
</html>