<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>rasiqra/revulva</title>
		<meta name="description" content="Hairdressers: the workforce of Coup d'État" />
		<meta name="keywords" content="icon grid, hover, responsive, portfolio, template" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/default.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<header class="clearfix">

				<h1>rasiqra / revulva</h1>

			</header>	
			<div class="main">
				<ul class="cbp-ig-grid">
					<li>
						<a href="#"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/10684284_705978789493934_276144990_n.jpg" style="padding-top:30px";>
							<span class="cbp-ig-icon cbp-ig-icon-shoe"></span>
							<h3 class="cbp-ig-title">Publications</h3>
							<span class="cbp-ig-category">Digital / Print</span>
						</a>
					</li>
					<li>
						<a href="#"><img src="Users/jon/rasiacavelabs/pics/artz.jpg" style="padding-top:30px";>
							<span class="cbp-ig-icon cbp-ig-icon-ribbon"></span>
							<h3 class="cbp-ig-title">Artwork</h3>
							<span class="cbp-ig-category">Gallery / Series / Prints / Sketches</span>
						</a>
					</li>
					<li>
						<a href="#"><img src="http://scontent-b.cdninstagram.com/hphotos-xap1/t51.2885-15/e15/10693629_1472838412991767_25394321_n.jpg"  style="padding-top:30px";>
							<span class="cbp-ig-icon cbp-ig-icon-milk"></span>
							<h3 class="cbp-ig-title">Music</h3>
							<span class="cbp-ig-category">The Databats</span>
						</a>
					</li>
					<li>
						<a href="#"><img src="http://scontent-a.cdninstagram.com/hphotos-xpa1/outbound-distilleryimage10/t0.0-17/OBPTH/a2926a86176011e3bfca22000ae9119e_7.jpg" style="padding-top:30px";>
							<span class="cbp-ig-icon cbp-ig-icon-whippy"></span>
							<h3 class="cbp-ig-title">Performance</h3>
							<span class="cbp-ig-category">Readings / Exhibibits / Concerts</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	<div class="menu"
				
  <div class="nav">
    <a href="/The Chair/CoupTest/coupdetat.nl/ENG/about/">About</a>||
    <a href="/The Chair/CoupTest/coupdetat.nl/ENG/hairdressers/">Contact</a>||
    <a href="/The Chair/CoupTest/coupdetat.nl/ENG/booking/">Booking</a>||
    <a href="/The Chair/CoupTest/coupdetat.nl/ENG/press/">Links</a>||
  </div>
</div>
	</body>
</html>