<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>rasiqra/revulva</title>
		<meta name="description" content="Hairdressers: the workforce of Coup d'État" />
		<meta name="keywords" content="icon grid, hover, responsive, portfolio, template" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/default.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<header class="clearfix">

				<h1>rasiqra/revulva</h1>

			</header>	
			<div class="main">
				<ul class="cbp-ig-grid">
					<li>
						<a href="#"><img src="http://www.coupdetat.nl/website/user/kappers/jeffreyjanssen/media/jeffreyjanssen-smaller.jpg" style="padding-top:20px";>
							<span class="cbp-ig-icon cbp-ig-icon-shoe"></span>
							<h3 class="cbp-ig-title">Publications</h3>
							<span class="cbp-ig-category">Digital / Print</span>
						</a>
					</li>
					<li>
						<a href="#"><img src="http://www.coupdetat.nl/website/user/kappers/davevanlishout/media/davevanlishout-smaller.jpg" style="padding-top:20px";>
							<span class="cbp-ig-icon cbp-ig-icon-ribbon"></span>
							<h3 class="cbp-ig-title">Artwork</h3>
							<span class="cbp-ig-category">Gallery / Series / For Sales / Sketches</span>
						</a>
					</li>
					<li>
						<a href="#"><img src="http://www.coupdetat.nl/website/user/kappers/jordanmatilda/media/jordanmatilda-smaller.jpg" style="padding-top:20px";>
							<span class="cbp-ig-icon cbp-ig-icon-milk"></span>
							<h3 class="cbp-ig-title">Music</h3>
							<span class="cbp-ig-category">The Databats</span>
						</a>
					</li>
					<li>
						<a href="#"><img src="http://www.coupdetat.nl/website/user/kappers/anandaksel/media/anandaksel-smaller.jpg" style="padding-top:20px";>
							<span class="cbp-ig-icon cbp-ig-icon-whippy"></span>
							<h3 class="cbp-ig-title">Awards + Press</h3>
							<span class="cbp-ig-category">Contests / Prizes / Media</span>
						</a>
						<div class="news">
						<h3>News:</h3><br>
						<p>rasiqra/revulva has just been named the greatest fucking author ever. holy shit. the crowd goes wild. also, she's reading some dope fucking books, so that's great. also, don't fuck with orangey, 'cause that fucker is legitz.</p>
						<div>
					</li>
				</ul>
			</div>
		</div>
<div class="menu">
  <div class="nav">
    <a href="/The Chair/CoupTest/coupdetat.nl/ENG/about/">About</a>
    <a href="/The Chair/CoupTest/coupdetat.nl/ENG/hairdressers/">Contact</a>
    <a href="/The Chair/CoupTest/coupdetat.nl/ENG/booking/">Booking</a>
    <a href="/The Chair/CoupTest/coupdetat.nl/ENG/press/">Links</a>
  </div>
</div>
	</body>
</html>