<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>rasiqra/revulva</title>
		<meta name="rasiqra/revulva" content="rasiqra revulva dot com" />
		<meta name="keywords" content="art, author, poetry, prose, portfolio, queer, canadian" />
		<meta name="author" content="wrrrtika" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/default.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
	  
	  <div class="topper">
			<header class="clearfix">

			<h1>rasiqra / revulva</h1>
			<div class"icons">
			<div class="wrap">
  			<div class="twitter icon"><a href="http://www.twitter.com/rasiqra_revulva" target="_blank"></a>
  			</div>
  			<div class="instagram icon"><a href="http://www.instagram.com/rasiqra_revulva" target="_blank"></a>
  			</div>
  			<div class="etsy icon"><a href="http://www.etsy.com/shop/rasiqrarevulva" target="_blank"></a>
  			</div>
  			<div class="soundcloud icon"><a href="http://www.soundcloud.com/rasiqra-revulva" target="_blank"></a>
        </div>
        <div class="facebook icon"><a href="https://www.facebook.com/rasiqra.revulva" target="_blank"></a>
        </div>
      </div>
      </header> 
    </div>

    <div class="availablecontainer">
    <div class="printmain">

    <h1> Available </h1>
    <h3><i>Original artwork available for purchase. All artwork by rasiqra/revulva.</i></h3> 
 

<section id="gallery">
  <!-- thumbnail image wrapped in a link -->
  <section id="gallery-wrap">
    <section class="item">
        <a href="#img1">
          <img src="assets/suspension.jpg">
        </a>
    </section>
    <section class="item">
        <a href="#img2">
          <img src="assets/CROP - Je Veut Etre Votre Squelette.JPG">
        </a>
    </section>
    <section class="item">
        <a href="#img3">
          <img src="assets/CROP - Obscenity.JPG">
        </a>
   </section>
   <section class="item">
        <a href="#img4">
          <img src="assets/CROP - Veneration.JPG">
        </a>
    </section>
    <section class="item">
        <a href="#img5">
          <img src="assets/CROP - suicidewasnottheanswer(1) - analoganxieties.jpg">
        </a>
    </section>
    <section class="item">
        <a href="#img6">
          <img src="assets/CROP - territorial invasion.jpg">
        </a>
   </section>
   <section class="item">
        <a href="#img7">
          <img src="assets/MINE - final.JPG">
        </a>
    </section>
    <section class="item">
        <a href="#img8">
          <img src="assets/CROP - encroaching liquid daydreams.jpg">
        </a>
    </section>
    <section class="item">
        <a href="#img9">
          <img src="assets/leafyseadragon.jpg">
        </a>
   </section>
   <section class="item">
        <a href="#img10">
          <img src="assets/fig 5 FINAL glitch.jpg">
        </a>
    </section>
    <section class="item">
        <a href="#img11">
          <img src="assets/Fig x - dna.jpg">
        </a>
    </section>
    <section class="item">
        <a href="#img12">
          <img src="assets/Fig x - elegy.jpg">
        </a>
   </section>
   </section>
</section>


<div class="lightbox" id="img1">
  <a class="close" href="/available">X</a>
  <div class="box">
    <p class="title">Suspension</p>
    <div class="content">
    <a class="prev" href="#img3"><<</a>
    <a class="next" href="#img2">>></a>
      <img class="bigger" src="assets/suspension.jpg"> 
        <p class="desc">
        --series: femme fatalities<br>
        --Styrofoam wig form, acrylic paint, polyurethane garbage bags, plastic, tinfoil.<br>
        --8" x 11.5" x 9"<br>
        --sale link (TBA)

 </p>
    </div>
    <div class="clear"></div>
  </div>
</div>    
    
<div class="lightbox" id="img2">
  <a class="close" href="/available">X</a>
  <div class="box">
    <p class="title">Je Veut Être Votre Squelette</p>
    <div class="content">
    <a class="prev" href="#img1"><<</a>
    <a class="next" href="#img3">>></a>
      <img class="bigger" src="assets/CROP - Je Veut Etre Votre Squelette.JPG"> 
        <p class="desc">
   --Series: femme fatalities<br><br>
--Found canvas, spray paint, medical textbook illustrations, RAM, an obsolete HP laptop remote, lino-print kiss marks, acrylic paint, thong underwear, poster paint.<br>
--23.5" x 23.5" <br>
--A skeleton is something hidden, which lives beneath the skin and cradles the heart; a structure which provides support while secreted in flesh. It can be exposed, but the relationship between the body and the bone will be deeply compromised. <br>
--sale link (TBA)</p>
    </div>
    <div class="clear"></div>
  </div>
</div>  

<div class="lightbox" id="img3">
  <a class="close" href="#">X</a>
  <div class="box">
    <p class="title">Obscenity</p>
    <div class="content">
    <a class="prev" href="#img2"><<</a>
    <a class="next" href="#img4">>></a>
      <img class="bigger" src="assets/CROP - Obscenity.JPG"> 
        <p class="desc">
        --Series: femme fatalities<br>
--Found canvas, acrylic paint, dimensional fabric paint, mirror glass, scalpel (for canvas excision). <br>
--16" x 20"<br>
--On historical Canadian obscenity laws, and the resultant feedback loop between policy, subculture, and media.<br>
--sale link (TBA)</p>
    </div>
    <div class="clear"></div>
  </div>
</div>  

<div class="lightbox" id="img4">
  <a class="close" href="/available">X</a>
  <div class="box">
    <p class="title">Veneration</p>
    <div class="content">
    <a class="prev" href="#img3"><<</a>
    <a class="next" href="#img5">>></a>
      <img class="bigger" src="assets/CROP - Veneration.JPG"> 
        <p class="desc">
       --Series: femme fatalities<br>
--Found canvas, acrylic paint, dimensional fabric paint, mirror glass.<br>
--14" x 18" <br>
--Self portrait visualization of my fib poem "Veneration," rejecting the toxicity of benevolent sexism.<br>
---sale link (TBA)  <br>
        </p>
    </div>
    <div class="clear"></div>
  </div>
</div>    
    
<div class="lightbox" id="img5">
  <a class="close" href="/available">X</a>
  <div class="box">
    <p class="title">Suicide Was Not the Answer (1 - analog anxieties)</p>
    <div class="content">
    <a class="prev" href="#img4"><<</a>
    <a class="next" href="#img6">>></a>
      <img class="ininko" src="assets/CROP - suicidewasnottheanswer(1) - analoganxieties.jpg"> 
        <p class="desc">--series: <i>teatro cefalopodi</i><br><br>
    --Ink. Reimagining William Golding's <i>The Princess Bride</i> as adapted and cast by a variety of ocean life (in this case, Inigo Montoya as a Humboldt squid).<br><br>
    --sale link (TBA).</p>
    </div>
    <div class="clear"></div>
  </div>
</div>  

<div class="lightbox" id="img6">
  <a class="close" href="#">X</a>
  <div class="box">
    <p class="title">Territorial Invasion</p>
    <div class="content">
    <a class="prev" href="#img5"><<</a>
    <a class="next" href="#img7">>></a>
      <img class="bigger" src="assets/CROP - territorial invasion.jpg"> 
        <p class="desc">
        ---Series: femme fatalities<br>
--Canvas, acrylic paint, polyurethane garbage bags, doll arms, doll torso, found wooden frame, oral contraceptive pills (Tri-Cyclen), fabric ribbon, mirror glass.<br>
--16" x 12"<br>
--sale link (TBA)<br>
 </p>
    </div>
    <div class="clear"></div>
  </div>
</div>  

<div class="lightbox" id="img7">
  <a class="close" href="/prints">X</a>
  <div class="box">
    <p class="title">Fig. 1: <i>Mine</i></p>
    <div class="content">
    <a class="prev" href="#img6"><<</a>
    <a class="next" href="#img8">>></a>
      <img class="bigger" src="assets/MINE - final.JPG"> 
        <p class="desc">--Series: femme fatalities; NERDSHIT<br>
--Found, framed portrait of Woody Allen by an unknown artist; acrylic paint, spray paint, poster paint, watercolour, ink, acid-free paper, glitch art, photo prints, Elliot Rodger's mass-murder manifesto, mirror glass.<br>
--17" x 21"<br>
--An inquiry into ownership and open secrets, both online and offline. Central companion image to my poem "MINE: The Stacy and The Gina."<br>
--sale link (TBA)</p>
    </div>
    <div class="clear"></div>
  </div>
</div>    
    
<div class="lightbox" id="img8">
  <a class="close" href="#">X</a>
  <div class="box">
    <p class="title">Encroaching Liquid Daydream</i></p>
    <div class="content">
    <a class="prev" href="#img7"><<</a>
    <a class="next" href="#img9">>></a>
      <img class="bigger" src="assets/CROP - encroaching liquid daydreams.jpg"> 
        <p class="desc">
        --Series: femme fatalities; Pacific Gyre Impl(ast)ications<br>
--Found wooden canvas, acrylic paint, polyurethane garbage bags, waxed paper, coloured tinfoil, coloured cellophane candy wrappers, candle wax, sea shells, doll limbs, ink, dimensional fabric paint, fabric and plastic ivy, doll hair.<br>
-12.5" x 19"<br>
--sale link (TBA)</p>
    </div>
    <div class="clear"></div>
  </div>
</div>  

<div class="lightbox" id="img9">
  <a class="close" href="#">X</a>
  <div class="box">
    <p class="title"><i>Leafy Sea Dragon</i></p>
    <div class="content">
    <a class="prev" href="#img8"><<</a>
    <a class="next" href="#img10">>></a>
      <img class="bigger" src="assets/leafyseadragon.jpg"> 
        <p class="desc">
     --Series: Pacific Gyre Impl(ast)ications<br>
--Metal serving tray, polyurethane garbage bags, used lighters, expired medication, iridescent dimensional fabric paint.<br>
--15.5" x 16.5"<br>
--sale link (TBA)
</p>
    </div>
    <div class="clear"></div>
  </div>
</div>  

<div class="lightbox" id="img10">
  <a class="close" href="/prints">X</a>
  <div class="box">
    <p class="title">Fig. 5: <i>Winterland Human Zoo</i></p>
    <div class="content">
    <a class="prev" href="#img9"><<</a>
    <a class="next" href="#img11">>></a>
      <img class="bigger" src="assets/fig 5 FINAL glitch.jpg"> 
        <p class="desc">
        --series: <i>Winterland Human Zoo</i><br><br>
    --Watercolour and ink painting; glitch art. Companion to my haiku suite "T(ri).O."
    --sale link (TBA)</p>
    </div>
    <div class="clear"></div>
  </div>
</div>    
    
<div class="lightbox" id="img11">
  <a class="close" href="#">X</a>
  <div class="box">
    <p class="title">Fig. 6: <i>Our Blood Was The Same</i></p>
    <div class="content">
    <a class="prev" href="#img10"><<</a>
    <a class="next" href="#img12">>></a>
      <img class="bigger" src="assets/Fig x - dna.jpg"> 
        <p class="desc">
        --series: <i>Winterland Human Zoo</i><br><br>
    --Watercolour and ink painting; glitch art. Companion to the free verse poem "DNA."<br><br>
    --sale link (TBA)</p>
    </div>
    <div class="clear"></div>
  </div>
</div>  

<div class="lightbox" id="img12">
  <a class="close" href="#">X</a>
  <div class="box">
    <p class="title">Fig. 7: <i>Elegy While Drowning</i></p>
    <div class="content">
    <a class="prev" href="#img11"><<</a>
    <a class="next" href="#img1">>></a>
      <img class="elegy" src="assets/Fig x - elegy.jpg"> 
        <p class="desc">
        --series: Winterland Human Zoo<br><br>
    --Watercolour and ink painting; glitch art. Companion to my free verse poem "Elegy While Drowning."<br><br>
    --sale link (TBA)
</p>
    </div>
    <div class="clear"></div>
  </div>
</div>  


    </div>
    </div>

    <h3>© rasiqra/revulva 2015 </h3>

	<div class="nav">
	<a href="/home">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Booking/Contact</a>
    <a href="#">Blog</a>
    <a href="#">Links</a>
    </div>
	</body>
</html>