<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>rasiqra/revulva</title>
		<meta name="rasiqra/revulva" content="rasiqra revulva dot com" />
		<meta name="keywords" content="art, author, poetry, prose, portfolio, queer, canadian" />
		<meta name="author" content="wrrrtika" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/default.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
	  
	  <div class="topper">
			<header class="clearfix">

			<h1>rasiqra / revulva</h1>
			<div class"icons">
			<div class="wrap">
  			<div class="twitter icon"><a href="http://www.twitter.com/rasiqra_revulva" target="_blank"></a>
  			</div>
  			<div class="instagram icon"><a href="http://www.instagram.com/rasiqra_revulva" target="_blank"></a>
  			</div>
  			<div class="etsy icon"><a href="http://www.etsy.com/shop/rasiqrarevulva" target="_blank"></a>
  			</div>
  			<div class="soundcloud icon"><a href="http://www.soundcloud.com/rasiqra-revulva" target="_blank"></a>
        </div>
        <div class="facebook icon"><a href="https://www.facebook.com/rasiqra.revulva" target="_blank"></a>
        </div>
      </div>
      </header> 
    </div>

    <div class="batscontainer">
    <div class="batsmain">

    <h1> The Databats </h1>
    <h3><i>Official single, album, music video, performance, and installation artwork for The Databats. All artwork by rasiqra/revulva unless otherwise stated.</i></h3> 
 

<section id="gallery">
  <!-- thumbnail image wrapped in a link -->
  <section id="gallery-wrap">
    <section class="item">
        <a href="#img1">
          <img src="assets/herrschlange - helloherrschlangehowareyouatthistime.jpg">
        </a>
    </section>
    <section class="item">
        <a href="#img2">
          <img src="assets/RESIZE - herrschlange-champanagamitherrschlange copy.jpeg">
        </a>
    </section>
    <section class="item">
        <a href="#img3">
          <img src="assets/herrschlange-iamfilthyrich copy.jpg">
        </a>
   </section>
   <section class="item">
        <a href="#img4">
          <img src="assets/herrschlangesmorningconstitutional.jpeg">
        </a>
    </section>
    <section class="item">
        <a href="#img5">
          <img src="assets/herrschlangesthursdaylunch copy.jpg">
        </a>
    </section>
    <section class="item">
        <a href="#img6">
          <img src="assets/herrschlangetakesinthesunset copy.jpg">
        </a>
   </section>
   <section class="item">
        <a href="#img7">
          <img src="assets/rapture.jpeg">
        </a>
    </section>
    <section class="item">
        <a href="#img8">
          <img src="assets/sidewalk crouches.jpg">
        </a>
    </section>
    <section class="item">
        <a href="#img9">
          <img src="assets/deep art.jpeg">
        </a>
   </section>
   <section class="item">
        <a href="#img10">
          <img src="assets/skelliesart.jpg">
        </a>
    </section>
    <section class="item">
        <a href="#img11">
          <img src="assets/exterminate.jpg">
        </a>
    </section>
    <section class="item">
        <a href="#img12">
          <img src="assets/abort single artwork.jpg">
        </a>
   </section>
   <section class="item">
        <a href="#img13">
          <img src="assets/FINAL - Martian Sitcom.JPG">
        </a>
   </section>
   <section class="item">
        <a href="#img14">
          <img src="assets/problem (lol).JPG">
        </a>
   </section>
   <section class="item">
        <a href="#img15">
          <img src="assets/broken link.JPG">
        </a>
   </section>
   </section>
</section>


<div class="lightbox" id="img1">
  <a class="close" href="/databats">X</a>
  <div class="box">
    <p class="title">Hello Herr Schlange. How are you at this time?</p>
    <div class="content">
    <a class="prev" href="#img3"><<</a>
    <a class="next" href="#img2">>></a>
      <img class="bigger" src="assets/herrschlange - helloherrschlangehowareyouatthistime.jpg"> 
        <p class="desc">
        --series: <i>Herr Schlange</i><br>
--Music video artwork for "Herr Schlange" by The Databats. Watercolour, ink.<br> 
--(dimensions)<br>
--sale link (prints) (TBA); sale link (original)<br>
--See the "Herr Schlange" music video here.

 </p>
    </div>
    <div class="clear"></div>
  </div>
</div>    
    
<div class="lightbox" id="img2">
  <a class="close" href="/databats">X</a>
  <div class="box">
    <p class="title">Champanaga mit Herr Schlange</p>
    <div class="content">
    <a class="prev" href="#img1"><<</a>
    <a class="next" href="#img3">>></a>
      <img class="bigger" src="assets/RESIZE - herrschlange-champanagamitherrschlange copy.jpeg"> 
        <p class="desc">
  --series: <i>Herr Schlange</i><br>
--Music video artwork for "Herr Schlange" by The Databats. Watercolour, ink, metallic paint. <br>
--(dimensions) <br>
--sale link (prints) (TBA); sale link (original)<br>
--See the "Herr Schlange" music video here.</p>
    </div>
    <div class="clear"></div>
  </div>
</div>  

<div class="lightbox" id="img3">
  <a class="close" href="/databats">X</a>
  <div class="box">
    <p class="title">I am Filthy Rich</p>
    <div class="content">
    <a class="prev" href="#img2"><<</a>
    <a class="next" href="#img4">>></a>
      <img class="filthy" src="assets/herrschlange-iamfilthyrich copy.jpg"> 
        <p class="desc">
        --series: <i>Herr Schlange</i><br>
--Music video artwork for "Herr Schlange" by The Databats. Watercolour, ink, metallic paint. <br>
--(dimensions)<br>
--Herr Schlange spends his days doing exactly what he wants to. And why not? He is filthy rich!<br>
--sale link (prints); sale link (original)
See the "Herr Schlange" music video here.
.<br>
--sale link (TBA)</p>
    </div>
    <div class="clear"></div>
  </div>
</div>  

<div class="lightbox" id="img4">
  <a class="close" href="/databats">X</a>
  <div class="box">
    <p class="title">Herr Schlange's Morning Constitutional</p>
    <div class="content">
    <a class="prev" href="#img3"><<</a>
    <a class="next" href="#img5">>></a>
      <img class="bigger" src="assets/herrschlangesmorningconstitutional.jpeg"> 
        <p class="desc">
--series: <i>Herr Schlange</i><br>
--Music video artwork for "Herr Schlange" by The Databats. Watercolour, ink, metallic paint. <br>
--(dimensions)<br>
--For an invigorating start to the day, nothing beats a post-breakfast unicorn ride through Herr Schlange's own private garden - especially now that his new diamond-tipped bit and bridle set has arrived!<br>
--sale link (prints); sale link (original)<br>
--See the "Herr Schlange" music video here.<br>
        </p>
    </div>
    <div class="clear"></div>
  </div>
</div>    
    
<div class="lightbox" id="img5">
  <a class="close" href="/databats">X</a>
  <div class="box">
    <p class="title">Herr Schlange's Thursday Lunch</p>
    <div class="content">
    <a class="prev" href="#img4"><<</a>
    <a class="next" href="#img6">>></a>
      <img class="ininko" src="assets/herrschlangesthursdaylunch copy.jpg"> 
      <p class="desc">
       --series: <i>Herr Schlange</i><br>
--Music video artwork for "Herr Schlange" by The Databats. Watercolour, ink, metallic paint. <br>
--(dimensions)<br>
--A sumptuous midday meal of whole puppy and a live bird's nest, served with a gravy boat of steaming blood (strained of clots, of course - he's not an animal).<br>
--sale link (prints); sale link (original)<br>
--See the "Herr Schlange" music video here.</p>
    </div>
    <div class="clear"></div>
  </div>
</div>  

<div class="lightbox" id="img6">
  <a class="close" href="/databats">X</a>
  <div class="box">
    <p class="title">Herr Schlange Takes In The Sunset</p>
    <div class="content">
    <a class="prev" href="#img5"><<</a>
    <a class="next" href="#img7">>></a>
      <img class="bigger" src="assets/herrschlangetakesinthesunset copy.jpg"> 
        <p class="desc">
        ---series: <i>Herr Schlange</i><br>
--Music video artwork for "Herr Schlange" by The Databats. Watercolour, ink, metallic paint. <br>
--(dimensions)<br>
--Herr Schlange reclines after a long day's work. After all, he's earned it.
--sale link (prints); sale link (original)<br>
--See the "Herr Schlange" music video here.)<br>
 </p>
    </div>
    <div class="clear"></div>
  </div>
</div>  

<div class="lightbox" id="img7">
  <a class="close" href="/databats">X</a>
  <div class="box">
    <p class="title">Rapture</p>
    <div class="content">
    <a class="prev" href="#img6"><<</a>
    <a class="next" href="#img8">>></a>
      <img class="bigger" src="assets/rapture.jpeg"> 
        <p class="desc">
        --series: <i>databats.exe</i><br>
--Single artwork for "Rapture" by The Databats. Acrylic paint, watercolours, metallic paint, dimensional fabric paint. <br>
--(dimensions)<br>
--Inspired by Harold Camping's mathematical prediction of the date the world would end.<br>
--sale link (prints) (TBA)<br>
--Listen to "Rapture" here.<br>
--sale link (TBA)</p>
    </div>
    <div class="clear"></div>
  </div>
</div>    
    
<div class="lightbox" id="img8">
  <a class="close" href="/databats">X</a>
  <div class="box">
    <p class="title">Sidewalk Crouches</i></p>
    <div class="content">
    <a class="prev" href="#img7"><<</a>
    <a class="next" href="#img9">>></a>
      <img class="bigger" src="assets/sidewalk crouches.jpg"> 
        <p class="desc">
        --series: <i>femme fatalities</i>; <i>NERDS#IT</i><br>
--Single artwork for The Databats' cover of The Doors' "Hello, I Love You" (demo version). Watercolours, coloured pencils, poster paint, metallic paint, ink, Liz and Beth #3 adult comic book.<br>
--(dimensions)<br>
--Revisiting The Doors' "Hello, I Love You" through the lens of racialized street harassment. Companion to my poem "Let Me Jump (in your game.)" 
--sale link (prints) (TBA)<br>
--see the "Hello, I Love You" (demo) music video here.</p>
    </div>
    <div class="clear"></div>
  </div>
</div>  

<div class="lightbox" id="img9">
  <a class="close" href="/databats">X</a>
  <div class="box">
    <p class="title">Deep</p>
    <div class="content">
    <a class="prev" href="#img8"><<</a>
    <a class="next" href="#img10">>></a>
      <img class="bigger" src="assets/deep art.jpeg"> 
        <p class="desc">
     --series:<i> Pacific Gyre Impl(ast)ications</i><br>
--Single artwork for "Deep" by The Databats. Glitch art collaboration between rasiqra/revulva and wrrrtika akitrrrw. Watercolour, ink. <br>
--(dimensions)<br>
--Inspired by the effects of electronics and their waste on the natural environment, particularly that of sea animals, who grow increasingly affected by our continuing destructive exploration of the depths.<br>
--sale link (prints) (TBA)<br>
--See the "Deep" music video here.<br>
</p>
    </div>
    <div class="clear"></div>
  </div>
</div>  

<div class="lightbox" id="img10">
  <a class="close" href="/databats">X</a>
  <div class="box">
    <p class="title">Skeletons</p>
    <div class="content">
    <a class="prev" href="#img9"><<</a>
    <a class="next" href="#img11">>></a>
      <img class="bigger" src="assets/skelliesart.jpg"> 
        <p class="desc">
--series: <i>databats.exe</i><br>
--Single artwork for "Skeletons" by The Databats. Glitch art collaboration between rasiqra/revulva and wrrrtika akitrrrw. Found canvas, spray paint, medical textbook illustrations, RAM, an obsolete HP laptop remote, lino-print kiss marks, acrylic paint, thong underwear with metal charms (heart, lock, and key), poster paint. <br>
--(dimensions)<br>
--A skeleton is something hidden, which lives beneath the skin and cradles the heart; a structure which provides support while secreted in flesh. It can be exposed, but the relationship between the body and the bone will be deeply compromised. <br>
--sale link (prints) (TBA)<br>
--Listen to "Skeletons" here.<br>
    </div>
    <div class="clear"></div>
  </div>
</div>    
    
<div class="lightbox" id="img11">
  <a class="close" href="/databats">X</a>
  <div class="box">
    <p class="title">EXTERMINATE!</i></p>
    <div class="content">
    <a class="prev" href="#img10"><<</a>
    <a class="next" href="#img12">>></a>
      <img class="bigger" src="assets/exterminate.jpg"> 
        <p class="desc">
 --series: TBD<Br>
--Single artwork for "EXTERMINATE!" by The Databats. Glitch art collaboration between rasiqra/revulva and wrrtika akitrrrw. Watercolour, ink, poster paint.<br>
--(dimensions)<br>
--sale link (prints) (TBA)<br>
--See the "EXTERMINATE!" music video here.<br>
    </div>
    <div class="clear"></div>
  </div>
</div>  

<div class="lightbox" id="img12">
  <a class="close" href="/databats">X</a>
  <div class="box">
    <p class="title">Abort</p>
    <div class="content">
    <a class="prev" href="#img11"><<</a>
    <a class="next" href="#img13">>></a>
      <img class="elegy" src="assets/abort single artwork.jpg"> 
        <p class="desc">
  --series: <i>databats.exe</i>; <i>femme fatalities</i><br>
--Single artwork for "Abort" by The Databats. Glitch art of my mixed-media found object painting "Territorial Invasion" [link to specific page should be provided in title].<br>
--(dimensions)<br>
--A response to the sustained global assault on reproductive freedom and healthcare: The Databats trust people with uteri to make their own decisions for their own lives.<br>
--sale link (prints) (TBD)<br>
--See the "Abort" music video (featuring a variety of additional artwork by rasiqra/revulva) here. <br>

<br>
</p>
    </div>
    <div class="clear"></div>
  </div>
</div>  
<div class="lightbox" id="img13">
  <a class="close" href="/databats">X</a>
  <div class="box">
    <p class="title">Martian Sitcom</p>
    <div class="content">
    <a class="prev" href="#img12"><<</a>
    <a class="next" href="#img14">>></a>
      <img class="elegy" src="assets/FINAL - Martian Sitcom.JPG"> 
        <p class="desc">
  --series: <i>databats.exe</i>; <i>NERDS#IT</i><br>
--Single artwork for "Martian Sitcom" by The Databats. Glitch art of my mixed-media found object painting "Rented a Tent" (link pending).<br>
--(dimensions)<br>
--The expanses of "outer space" are littered with the detritus of broadcasts, transmitted and encrypted, echoing ad infinitum. "Martian Sitcom" represents an assemblage of these artifacts, and of the interpretations of those entities who are exposed to them. TL; DR: what if Martians decided to adapt Kurt Vonnegut's "The Sirens of Titan" as a reality-TV-inspired-sitcom?<br>
--sale link (prints) (TBD)<br>
--Listen to "Martian Sitcom" here.<br>

<br>
</p>
    </div>
    <div class="clear"></div>
  </div>
</div>  

<div class="lightbox" id="img14">
  <a class="close" href="/databats">X</a>
  <div class="box">
    <p class="title">Problem ? (lol)</p>
    <div class="content">
    <a class="prev" href="#img13"><<</a>
    <a class="next" href="#img15">>></a>
      <img class="elegy" src="assets/problem (lol).JPG"> 
        <p class="desc">
--series: <i>http://</i>; <i>femme fatalities</i>; <i>NERDS#IT</i><br>
--Single artwork for "Problem? (lol)" by The Databats. Multi-layer glitch art of watercolour and ink adaptations of iPhone self-portraits.<br>
--(dimensions)<br>
--A trifecta of on-and-offline misogyny, trolling, and revenge pornography. Show me. Dance for me. LOL.<br>
--sale link (prints) (TBD)<br>
--Listen to and/or purchase "Problem? (lol)" here; and watch the music video here.


<br>
</p>
    </div>
    <div class="clear"></div>
  </div>
</div>  

<div class="lightbox" id="img15">
  <a class="close" href="/databats">X</a>
  <div class="box">
    <p class="title">Broken Link </p>
    <div class="content">
    <a class="prev" href="#img14"><<</a>
    <a class="next" href="#img1">>></a>
      <img class="elegy" src="assets/broken link.JPG"> 
        <p class="desc">
--series: <i>http://</i> ; <i>NERDS#IT</i><br>
--Single artwork for "Broken Link" by The Databats. Multi-layer glitch art collaboration between rasiqra/revulva and wrrrtika akitrrrw. Watercolour, ink.<br>
--(dimensions)<br>
--An anthem for Net Neutrality.<br>
--sale link (prints) (TBD)<br>
--Listen to and/or purchase "Broken Link" here.<br>



<br>
</p>
    </div>
    <div class="clear"></div>
  </div>
</div> 


    </div>
    </div>

    <h3>© rasiqra/revulva 2015 </h3>

	<div class="nav">
	<a href="/home">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Booking/Contact</a>
    <a href="#">Blog</a>
    <a href="#">Links</a>
    </div>
	</body>
</html>