<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>rasiqra/revulva</title>
		<meta name="rasiqra/revulva" content="rasiqra revulva dot com" />
		<meta name="keywords" content="art, author, poetry, prose, portfolio, queer, canadian" />
		<meta name="author" content="wrrrtika" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/default.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
	  
	  <div class="topper">
			<header class="clearfix">

			<h1>rasiqra / revulva</h1>
			<div class"icons">
			<div class="wrap">
  			<div class="twitter icon"><a href="http://www.twitter.com/rasiqra_revulva" target="_blank"></a>
  			</div>
  			<div class="instagram icon"><a href="http://www.instagram.com/rasiqra_revulva" target="_blank"></a>
  			</div>
  			<div class="etsy icon"><a href="http://www.etsy.com/shop/rasiqrarevulva" target="_blank"></a>
  			</div>
  			<div class="soundcloud icon"><a href="http://www.soundcloud.com/rasiqra-revulva" target="_blank"></a>
        </div>
        <div class="facebook icon"><a href="https://www.facebook.com/rasiqra.revulva" target="_blank"></a>
        </div>
      </div>
      </header> 
    </div>

    <div class="batscontainer">
    <div class="batsmain">

    <h1> The Databats </h1>
    <h3><i>Official single, album, music video, performance, and installation artwork for The Databats. All artwork by rasiqra/revulva unless otherwise stated.</i></h3> 
 

<section id="gallery">
  <!-- thumbnail image wrapped in a link -->
  <section id="gallery-wrap">
    <section class="item">
        <a href="#img1">
          <img src="assets/herrschlange - helloherrschlangehowareyouatthistime.jpg">
        </a>
    </section>
    <section class="item">
        <a href="#img2">
          <img src="assets/RESIZE - herrschlange-champanagamitherrschlange copy.jpeg">
        </a>
    </section>
    <section class="item">
        <a href="#img3">
          <img src="assets/herrschlange-iamfilthyrich copy.jpg">
        </a>
   </section>
   <section class="item">
        <a href="#img4">
          <img src="assets/CROP - Veneration.JPG">
        </a>
    </section>
    <section class="item">
        <a href="#img5">
          <img src="assets/CROP - suicidewasnottheanswer(1) - analoganxieties.jpg">
        </a>
    </section>
    <section class="item">
        <a href="#img6">
          <img src="assets/CROP - territorial invasion.jpg">
        </a>
   </section>
   <section class="item">
        <a href="#img7">
          <img src="assets/MINE - final.JPG">
        </a>
    </section>
    <section class="item">
        <a href="#img8">
          <img src="assets/CROP - encroaching liquid daydreams.jpg">
        </a>
    </section>
    <section class="item">
        <a href="#img9">
          <img src="assets/leafyseadragon.jpg">
        </a>
   </section>
   <section class="item">
        <a href="#img10">
          <img src="assets/Je Refuse.JPG">
        </a>
    </section>
    <section class="item">
        <a href="#img11">
          <img src="assets/glitch - self therapy.jpg">
        </a>
    </section>
    <section class="item">
        <a href="#img12">
          <img src="assets/CROP - leftover centrepiece.JPG">
        </a>
   </section>
   </section>
</section>


<div class="lightbox" id="img1">
  <a class="close" href="/databats">X</a>
  <div class="box">
    <p class="title">Hello Herr Schlange. How are you at this time?</p>
    <div class="content">
    <a class="prev" href="#img3"><<</a>
    <a class="next" href="#img2">>></a>
      <img class="bigger" src="assets/herrschlange - helloherrschlangehowareyouatthistime.jpg"> 
        <p class="desc">
        --series: Herr Schlange<br>
--Music video artwork for "Herr Schlange" by The Databats. Watercolour, ink.<br> 
--(dimensions)<br>
--sale link (prints) (TBA); sale link (original)<br>
--See the "Herr Schlange" music video here.

 </p>
    </div>
    <div class="clear"></div>
  </div>
</div>    
    
<div class="lightbox" id="img2">
  <a class="close" href="/databats">X</a>
  <div class="box">
    <p class="title">Champanaga mit Herr Schlange</p>
    <div class="content">
    <a class="prev" href="#img1"><<</a>
    <a class="next" href="#img3">>></a>
      <img class="bigger" src="assets/RESIZE - herrschlange-champanagamitherrschlange copy.jpeg"> 
        <p class="desc">
  --series: Herr Schlange<br>
--Music video artwork for "Herr Schlange" by The Databats. Watercolour, ink, metallic paint. <br>
--(dimensions) <br>
--sale link (prints) (TBA); sale link (original)<br>
--See the "Herr Schlange" music video here.</p>
    </div>
    <div class="clear"></div>
  </div>
</div>  

<div class="lightbox" id="img3">
  <a class="close" href="/databats">X</a>
  <div class="box">
    <p class="title">Obscenity</p>
    <div class="content">
    <a class="prev" href="#img2"><<</a>
    <a class="next" href="#img4">>></a>
      <img class="bigger" src="assets/herrschlange-iamfilthyrich copy.jpg"> 
        <p class="desc">
        --series: Herr Schlange
--Music video artwork for "Herr Schlange" by The Databats. Watercolour, ink, metallic paint. 
--(dimensions)
--Herr Schlange spends his days doing exactly what he wants to. And why not? He is filthy rich!
--sale link (prints); sale link (original)
See the "Herr Schlange" music video here.
.<br>
--sale link (TBA)</p>
    </div>
    <div class="clear"></div>
  </div>
</div>  

<div class="lightbox" id="img4">
  <a class="close" href="/available">X</a>
  <div class="box">
    <p class="title">Veneration</p>
    <div class="content">
    <a class="prev" href="#img3"><<</a>
    <a class="next" href="#img5">>></a>
      <img class="bigger" src="assets/CROP - Veneration.JPG"> 
        <p class="desc">
       --Series: <i>femme fatalities</i><br>
--Found canvas, acrylic paint, dimensional fabric paint, mirror glass.<br>
--14" x 18" <br>
--Self portrait visualization of my fib poem "Veneration," rejecting the toxicity of benevolent sexism.<br>
---sale link (TBA)  <br>
        </p>
    </div>
    <div class="clear"></div>
  </div>
</div>    
    
<div class="lightbox" id="img5">
  <a class="close" href="/available">X</a>
  <div class="box">
    <p class="title">Suicide Was Not the Answer (1 - analog anxieties)</p>
    <div class="content">
    <a class="prev" href="#img4"><<</a>
    <a class="next" href="#img6">>></a>
      <img class="ininko" src="assets/CROP - suicidewasnottheanswer(1) - analoganxieties.jpg"> 
        <p class="desc">--Series: <i>femme fatalitie</i><br>
--Canvas, acrylic paint, ink, dimensional fabric paint, fabric ribbon, mirror glass, candy conversation hearts.<br>
--16" x 12"<br>
--sale link (TBA).</p>
    </div>
    <div class="clear"></div>
  </div>
</div>  

<div class="lightbox" id="img6">
  <a class="close" href="#">X</a>
  <div class="box">
    <p class="title">Territorial Invasion</p>
    <div class="content">
    <a class="prev" href="#img5"><<</a>
    <a class="next" href="#img7">>></a>
      <img class="bigger" src="assets/CROP - territorial invasion.jpg"> 
        <p class="desc">
        ---Series: <i>femme fatalities</i><br>
--Canvas, acrylic paint, polyurethane garbage bags, doll arms, doll torso, found wooden frame, oral contraceptive pills (Tri-Cyclen), fabric ribbon, mirror glass.<br>
--16" x 12"<br>
--sale link (TBA)<br>
 </p>
    </div>
    <div class="clear"></div>
  </div>
</div>  

<div class="lightbox" id="img7">
  <a class="close" href="/prints">X</a>
  <div class="box">
    <p class="title">Fig. 1: <i>Mine</i></p>
    <div class="content">
    <a class="prev" href="#img6"><<</a>
    <a class="next" href="#img8">>></a>
      <img class="bigger" src="assets/MINE - final.JPG"> 
        <p class="desc">--Series: <i>femme fatalities; NERDSHIT</i><br>
--Found, framed portrait of Woody Allen by an unknown artist; acrylic paint, spray paint, poster paint, watercolour, ink, acid-free paper, glitch art, photo prints, Elliot Rodger's mass-murder manifesto, mirror glass.<br>
--17" x 21"<br>
--An inquiry into ownership and open secrets, both online and offline. Central companion image to my poem "MINE: The Stacy and The Gina."<br>
--sale link (TBA)</p>
    </div>
    <div class="clear"></div>
  </div>
</div>    
    
<div class="lightbox" id="img8">
  <a class="close" href="#">X</a>
  <div class="box">
    <p class="title">Encroaching Liquid Daydream</i></p>
    <div class="content">
    <a class="prev" href="#img7"><<</a>
    <a class="next" href="#img9">>></a>
      <img class="bigger" src="assets/CROP - encroaching liquid daydreams.jpg"> 
        <p class="desc">
        --Series: <i>femme fatalities; Pacific Gyre Impl(ast)ications</i><br>
--Found wooden canvas, acrylic paint, polyurethane garbage bags, waxed paper, coloured tinfoil, coloured cellophane candy wrappers, candle wax, sea shells, doll limbs, ink, dimensional fabric paint, fabric and plastic ivy, doll hair.<br>
-12.5" x 19"<br>
--sale link (TBA)</p>
    </div>
    <div class="clear"></div>
  </div>
</div>  

<div class="lightbox" id="img9">
  <a class="close" href="#">X</a>
  <div class="box">
    <p class="title"><i>Leafy Sea Dragon</i></p>
    <div class="content">
    <a class="prev" href="#img8"><<</a>
    <a class="next" href="#img10">>></a>
      <img class="bigger" src="assets/leafyseadragon.jpg"> 
        <p class="desc">
     --Series: <i>Pacific Gyre Impl(ast)ications</i><br>
--Metal serving tray, polyurethane garbage bags, used lighters, expired medication, iridescent dimensional fabric paint.<br>
--15.5" x 16.5"<br>
--sale link (TBA)
</p>
    </div>
    <div class="clear"></div>
  </div>
</div>  

<div class="lightbox" id="img10">
  <a class="close" href="/available">X</a>
  <div class="box">
    <p class="title">Fig. 5: <i>Je Refuse</i></p>
    <div class="content">
    <a class="prev" href="#img9"><<</a>
    <a class="next" href="#img11">>></a>
      <img class="bigger" src="assets/Je Refuse.JPG"> 
        <p class="desc">
        --Series: <i>femme fatalities</i><br>
--Matted giclee print, ready for framing. Self-portrait glitch art rumination on the relationship between femininity and consumption. Exhibited at DIGITIZE at Moniker Gallery, March 2014.<br>
--23" x 27"<br>
--sale link (TBA)</p>
    </div>
    <div class="clear"></div>
  </div>
</div>    
    
<div class="lightbox" id="img11">
  <a class="close" href="#">X</a>
  <div class="box">
    <p class="title">Self-[medication;care;immolation]-therapy</i></p>
    <div class="content">
    <a class="prev" href="#img10"><<</a>
    <a class="next" href="#img12">>></a>
      <img class="bigger" src="assets/glitch - self therapy.jpg"> 
        <p class="desc">
       --Series: <i>femme fatalities</i><br>
--Matted giclee print, ready for framing. Self-portrait glitch art exploration of chronic pain management. Exhibited at DIGITIZE at Moniker Gallery, March 2014.<br>
--23" x 27"<br>
--sale link (TBA)</p>
    </div>
    <div class="clear"></div>
  </div>
</div>  

<div class="lightbox" id="img12">
  <a class="close" href="#">X</a>
  <div class="box">
    <p class="title">Leftover Centrepiece</p>
    <div class="content">
    <a class="prev" href="#img11"><<</a>
    <a class="next" href="#img1">>></a>
      <img class="elegy" src="assets/CROP - leftover centrepiece.JPG"> 
        <p class="desc">
        --Series: <i>One Man's Trash</i><br>
--Ceramic plate fragment; decorative, fake fruits; fabric ribbon, metallic gold paint, fabric roses.<br>
--8" x 5.5" x 4"<br>
--The ideal table-setting accessory for your ironic dinner parties, hate-read book clubs, and more. Show off your your love of kitsch, thrift, and upcycling, you glorious non-conformist!<br>
--sale link (TBA) <br>
</p>
    </div>
    <div class="clear"></div>
  </div>
</div>  


    </div>
    </div>

    <h3>© rasiqra/revulva 2015 </h3>

	<div class="nav">
	<a href="/home">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Booking/Contact</a>
    <a href="#">Blog</a>
    <a href="#">Links</a>
    </div>
	</body>
</html>