<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>rasiqra/revulva</title>
		<meta name="rasiqra/revulva" content="rasiqra revulva dot com" />
		<meta name="keywords" content="art, author, poetry, prose, portfolio, queer, canadian" />
		<meta name="author" content="wrrrtika" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/default.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
	  
	  <div class="topper">
			<header class="clearfix">

			<h1>rasiqra / revulva</h1>
			<div class"icons">
			<div class="wrap">
  			<div class="twitter icon"><a href="http://www.twitter.com/rasiqra_revulva" target="_blank"></a>
  			</div>
  			<div class="instagram icon"><a href="http://www.instagram.com/rasiqra_revulva" target="_blank"></a>
  			</div>
  			<div class="etsy icon"><a href="http://www.etsy.com/shop/rasiqrarevulva" target="_blank"></a>
  			</div>
  			<div class="soundcloud icon"><a href="http://www.soundcloud.com/rasiqra-revulva" target="_blank"></a>
  			</div>
  			<div class="facebook icon"><a href="https://www.facebook.com/rasiqra.revulva" target="_blank"></a>
  			</div>
			</div>
			</header>	
	  </div>

	  <div class="printcontainer">
	  <div class="printmain">

	  <h1> Prints </h1> 
 

<section id="gallery">
	<!-- thumbnail image wrapped in a link -->
    <section class="item">
        <a href="#img1">
          <img src="http://media-cache-ec0.pinimg.com/736x/d6/f3/ea/d6f3ea3207ced5d18138680bee59f535.jpg">
        </a>
    </section>
    <section class="item">
        <a href="#img2">
          <img src="http://media-cache-ec0.pinimg.com/736x/6b/69/f8/6b69f80d5cd5b735f88326ba534d0d85.jpg">
        </a>
    </section>
    <section class="item">
        <a href="#img3">
          <img src="http://media-cache-cd0.pinimg.com/736x/90/7a/50/907a50fbf359b9c559f332861a9a74e3.jpg">
        </a>
	 </section>
	 <section class="item">
        <a href="#img4">
          <img src="http://media-cache-ec0.pinimg.com/736x/d6/f3/ea/d6f3ea3207ced5d18138680bee59f535.jpg">
        </a>
    </section>
    <section class="item">
        <a href="#img5">
          <img src="http://media-cache-ec0.pinimg.com/736x/6b/69/f8/6b69f80d5cd5b735f88326ba534d0d85.jpg">
        </a>
    </section>
    <section class="item">
        <a href="#img6">
          <img src="http://media-cache-cd0.pinimg.com/736x/90/7a/50/907a50fbf359b9c559f332861a9a74e3.jpg">
        </a>
	 </section>
	 <section class="item">
        <a href="#img7">
          <img src="http://media-cache-ec0.pinimg.com/736x/d6/f3/ea/d6f3ea3207ced5d18138680bee59f535.jpg">
        </a>
    </section>
    <section class="item">
        <a href="#img8">
          <img src="http://media-cache-ec0.pinimg.com/736x/6b/69/f8/6b69f80d5cd5b735f88326ba534d0d85.jpg">
        </a>
    </section>
    <section class="item">
        <a href="#img9">
          <img src="http://media-cache-cd0.pinimg.com/736x/90/7a/50/907a50fbf359b9c559f332861a9a74e3.jpg">
        </a>
	 </section>
	 <section class="item">
        <a href="#img10">
          <img src="http://media-cache-ec0.pinimg.com/736x/d6/f3/ea/d6f3ea3207ced5d18138680bee59f535.jpg">
        </a>
    </section>
    <section class="item">
        <a href="#img11">
          <img src="http://media-cache-ec0.pinimg.com/736x/6b/69/f8/6b69f80d5cd5b735f88326ba534d0d85.jpg">
        </a>
    </section>
    <section class="item">
        <a href="#img12">
          <img src="http://media-cache-cd0.pinimg.com/736x/90/7a/50/907a50fbf359b9c559f332861a9a74e3.jpg">
        </a>
	 </section>
</section>


<div class="lightbox" id="img1">
	<a class="close" href="/prints">X</a>
  <div class="box">
    <p class="title">Art</p>
    <div class="content">
    	<img src="http://media-cache-ec0.pinimg.com/736x/d6/f3/ea/d6f3ea3207ced5d18138680bee59f535.jpg"> 
        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Text Modal Window Nullam at volutpat ipsum. Nullam nec posuere ante. Nulla molestie ac odio sed malesuada.Text Modal Window With a Video Ut dapibus odio eget vestibulum condimentum.</p>
    </div>
    <a class="prev" href="#img3">Previous</a>
    <a class="next" href="#img2">Next</a>
    <div class="clear"></div>
  </div>
</div>    
    
<div class="lightbox" id="img2">
	<a class="close" href="#">X</a>
  <div class="box">
    <p class="title">Lorem ipsum dolor sit amet</p>
    <div class="content">
    	<img src="http://media-cache-ec0.pinimg.com/736x/6b/69/f8/6b69f80d5cd5b735f88326ba534d0d85.jpg"> 
        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Text Modal Window Nullam at volutpat ipsum. Nullam nec posuere ante. Nulla molestie ac odio sed malesuada.Text Modal Window With a Video Ut dapibus odio eget vestibulum condimentum.</p>
    </div>
    <a class="prev" href="#img2">Previous</a>
    <a class="next" href="#img3">Next</a>
    <div class="clear"></div>
  </div>
</div>  

<div class="lightbox" id="img3">
	<a class="close" href="#">X</a>
  <div class="box">
    <p class="title">Lorem ipsum dolor sit amet</p>
    <div class="content">
    	<img src="http://media-cache-cd0.pinimg.com/736x/90/7a/50/907a50fbf359b9c559f332861a9a74e3.jpg"> 
        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Text Modal Window Nullam at volutpat ipsum. Nullam nec posuere ante. Nulla molestie ac odio sed malesuada.Text Modal Window With a Video Ut dapibus odio eget vestibulum condimentum.</p>
    </div>
    <a class="prev" href="#img2">Previous</a>
    <a class="next" href="#img1">Next</a>
    <div class="clear"></div>
  </div>
</div>  

<div class="lightbox" id="img4">
	<a class="close" href="/prints">X</a>
  <div class="box">
    <p class="title">Art</p>
    <div class="content">
    	<img src="http://media-cache-ec0.pinimg.com/736x/d6/f3/ea/d6f3ea3207ced5d18138680bee59f535.jpg"> 
        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Text Modal Window Nullam at volutpat ipsum. Nullam nec posuere ante. Nulla molestie ac odio sed malesuada.Text Modal Window With a Video Ut dapibus odio eget vestibulum condimentum.</p>
    </div>
    <a class="prev" href="#img3">Previous</a>
    <a class="next" href="#img5">Next</a>
    <div class="clear"></div>
  </div>
</div>    
    
<div class="lightbox" id="img5">
	<a class="close" href="#">X</a>
  <div class="box">
    <p class="title">Lorem ipsum dolor sit amet</p>
    <div class="content">
    	<img src="http://media-cache-ec0.pinimg.com/736x/6b/69/f8/6b69f80d5cd5b735f88326ba534d0d85.jpg"> 
        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Text Modal Window Nullam at volutpat ipsum. Nullam nec posuere ante. Nulla molestie ac odio sed malesuada.Text Modal Window With a Video Ut dapibus odio eget vestibulum condimentum.</p>
    </div>
    <a class="prev" href="#img4">Previous</a>
    <a class="next" href="#img6">Next</a>
    <div class="clear"></div>
  </div>
</div>  

<div class="lightbox" id="img6">
	<a class="close" href="#">X</a>
  <div class="box">
    <p class="title">Lorem ipsum dolor sit amet</p>
    <div class="content">
    	<img src="http://media-cache-cd0.pinimg.com/736x/90/7a/50/907a50fbf359b9c559f332861a9a74e3.jpg"> 
        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Text Modal Window Nullam at volutpat ipsum. Nullam nec posuere ante. Nulla molestie ac odio sed malesuada.Text Modal Window With a Video Ut dapibus odio eget vestibulum condimentum.</p>
    </div>
    <a class="prev" href="#img5">Previous</a>
    <a class="next" href="#img7">Next</a>
    <div class="clear"></div>
  </div>
</div>  

<div class="lightbox" id="img7">
	<a class="close" href="/prints">X</a>
  <div class="box">
    <p class="title">Art</p>
    <div class="content">
    	<img src="http://media-cache-ec0.pinimg.com/736x/d6/f3/ea/d6f3ea3207ced5d18138680bee59f535.jpg"> 
        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Text Modal Window Nullam at volutpat ipsum. Nullam nec posuere ante. Nulla molestie ac odio sed malesuada.Text Modal Window With a Video Ut dapibus odio eget vestibulum condimentum.</p>
    </div>
    <a class="prev" href="#img6">Previous</a>
    <a class="next" href="#img8">Next</a>
    <div class="clear"></div>
  </div>
</div>    
    
<div class="lightbox" id="img8">
	<a class="close" href="#">X</a>
  <div class="box">
    <p class="title">Lorem ipsum dolor sit amet</p>
    <div class="content">
    	<img src="http://media-cache-ec0.pinimg.com/736x/6b/69/f8/6b69f80d5cd5b735f88326ba534d0d85.jpg"> 
        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Text Modal Window Nullam at volutpat ipsum. Nullam nec posuere ante. Nulla molestie ac odio sed malesuada.Text Modal Window With a Video Ut dapibus odio eget vestibulum condimentum.</p>
    </div>
    <a class="prev" href="#img7">Previous</a>
    <a class="next" href="#img9">Next</a>
    <div class="clear"></div>
  </div>
</div>  

<div class="lightbox" id="img9">
	<a class="close" href="#">X</a>
  <div class="box">
    <p class="title">Lorem ipsum dolor sit amet</p>
    <div class="content">
    	<img src="http://media-cache-cd0.pinimg.com/736x/90/7a/50/907a50fbf359b9c559f332861a9a74e3.jpg"> 
        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Text Modal Window Nullam at volutpat ipsum. Nullam nec posuere ante. Nulla molestie ac odio sed malesuada.Text Modal Window With a Video Ut dapibus odio eget vestibulum condimentum.</p>
    </div>
    <a class="prev" href="#img8">Previous</a>
    <a class="next" href="#img10">Next</a>
    <div class="clear"></div>
  </div>
</div>  

<div class="lightbox" id="img10">
	<a class="close" href="/prints">X</a>
  <div class="box">
    <p class="title">Art</p>
    <div class="content">
    	<img src="http://media-cache-ec0.pinimg.com/736x/d6/f3/ea/d6f3ea3207ced5d18138680bee59f535.jpg"> 
        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Text Modal Window Nullam at volutpat ipsum. Nullam nec posuere ante. Nulla molestie ac odio sed malesuada.Text Modal Window With a Video Ut dapibus odio eget vestibulum condimentum.</p>
    </div>
    <a class="prev" href="#img9">Previous</a>
    <a class="next" href="#img11">Next</a>
    <div class="clear"></div>
  </div>
</div>    
    
<div class="lightbox" id="img11">
	<a class="close" href="#">X</a>
  <div class="box">
    <p class="title">Lorem ipsum dolor sit amet</p>
    <div class="content">
    	<img src="http://media-cache-ec0.pinimg.com/736x/6b/69/f8/6b69f80d5cd5b735f88326ba534d0d85.jpg"> 
        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Text Modal Window Nullam at volutpat ipsum. Nullam nec posuere ante. Nulla molestie ac odio sed malesuada.Text Modal Window With a Video Ut dapibus odio eget vestibulum condimentum.</p>
    </div>
    <a class="prev" href="#img10">Previous</a>
    <a class="next" href="#img12">Next</a>
    <div class="clear"></div>
  </div>
</div>  

<div class="lightbox" id="img12">
	<a class="close" href="#">X</a>
  <div class="box">
    <p class="title">Lorem ipsum dolor sit amet</p>
    <div class="content">
    	<img src="http://media-cache-cd0.pinimg.com/736x/90/7a/50/907a50fbf359b9c559f332861a9a74e3.jpg"> 
        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Text Modal Window Nullam at volutpat ipsum. Nullam nec posuere ante. Nulla molestie ac odio sed malesuada.Text Modal Window With a Video Ut dapibus odio eget vestibulum condimentum.</p>
    </div>
    <a class="prev" href="#img11">Previous</a>
    <a class="next" href="#img1">Next</a>
    <div class="clear"></div>
  </div>
</div>  


	  </div>
	  </div>



	<div class="nav">
	<a href="/home">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Booking/Contact</a>
    <a href="#">Blog</a>
    <a href="#">Links</a>
    </div>
	</body>
</html>