<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>rasiqra/revulva</title>
		<meta name="rasiqra/revulva" content="rasiqra revulva dot com" />
		<meta name="keywords" content="art, author, poetry, prose, portfolio, queer, canadian" />
		<meta name="author" content="wrrrtika" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/default.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
	  
	  <div class="topper">
			<header class="clearfix">

			<h1>rasiqra / revulva</h1>
			<div class"icons">
			<div class="wrap">
  			<div class="twitter icon"><a href="http://www.twitter.com/rasiqra_revulva" target="_blank"></a>
  			</div>
  			<div class="instagram icon"><a href="http://www.instagram.com/rasiqra_revulva" target="_blank"></a>
  			</div>
  			<div class="etsy icon"><a href="http://www.etsy.com/shop/rasiqrarevulva" target="_blank"></a>
  			</div>
  			<div class="soundcloud icon"><a href="http://www.soundcloud.com/rasiqra-revulva" target="_blank"></a>
  			</div>
  			<div class="facebook icon"><a href="https://www.facebook.com/rasiqra.revulva" target="_blank"></a>
  			</div>
			</div>
			</header>	
	  </div>	

	  
	  <div class="pubcontainer">
		<div class="submain">
		<h2>Publications</h2>
		<h3>2015</h3>
		<ul>
		<li><a href="http://www.wordsonpagespress.com/parenthetical/issue-five-january-2015/">"Nautildaeism"</a> -<a href="http://www.wordsonpagespress.com/parenthetical/"><i>(parenthetical)</i></a>
		</li>
		<br>
		<li><a href="http://www.hermeneuticchaosjournal.com/january-2015.html">"Tool Use"</a> - <a href="http://www.hermeneuticchaosjournal.com"><i>Hermeneutic Literary Chaos Journal</i></a>
		</li>
		</ul>

		<h3>2014</h3>
		<li><a href="http://thefeministwire.com/2014/05/poem-suite-family/">"3/4 Profile"</a> - <a href="http://thefeministwire.com"><i>The Feminist Wire</i></a>
		</li>
		<br>
		<li><a href="http://thefeministwire.com/2014/07/poem-suite-silencing/">"What You Talk About When You Talk About Rape"</a> - <a href="http://thefeministwire.com"><i>The Feminist Wire</i></a>
		</li>
		<br>
		<li><a href="https://thequilliad.wordpress.com/">"One of These Days"</a> - <a href="https://thequilliad.wordpress.com/"><i>The Quilliad</i></a>
		</li>
		<br>
		<h3>2013</h3>
		<li><a href="http://cordite.org.au/poetry/masque/true-north/">"True North"</a> -<a href="http://cordite.org.au"><i>Cordite Poetry Review</i></a>
		</li>
		<br>
		<li><a href="http://www.ditchpoetry.com/rasiqrarevulva.htm">"How to Fake it So (s)He Stops: A User's Guide to the Sex Assault Konami Code"</a> - <a href="http://www.ditchpoetry.com"><i>ditch,</i></a>
		</li>
		<br>
		<li><a href="http://www.ditchpoetry.com/rasiqrarevulva.htm">'"Dwayne." "Texas." "Unclean."'</a> -<a href="http://www.ditchpoetry.com"><i>ditch,</i></a>
		</li>
		<br>
		
		<br>

		<h3>2012</h3>
		<li><a href="http://incongruousquarterly.com/2012/10/city-wide-infestation-a-formula-for-peace-of-mind/">"City-Wide Infestation: A Formula for Peace of Mind"</a> -<a href="http://incongruousquarterly.com"><i>The Incongruous Quarterly</i></a>
		<br>
		<br>
		<li><a href="http://incongruousquarterly.com/2012/11/the-poem-a-zygodactyl-handjob/">"The Poem: A Zygodactyl Handjob"</a> - <a href="http://incongruousquarterly.com"><i>The Incongruous Quarterly</i></a>
		</li>

		</li>
		<br>	
		<h2>Awards</h2>
		</div>
		</div>
		<div class="nav">
	<a href="/home">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Booking/Contact</a>
    <a href="#">Blog</a>
    <a href="#">Links</a>
    </div>
	</body>
</html>