/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
	font-family: 'anyoldicon';
	src:url('../fonts/anyoldicon/anyoldicon.eot');
	src:url('../fonts/anyoldicon/anyoldicon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/anyoldicon/anyoldicon.woff') format('woff'),
		url('../fonts/anyoldicon/anyoldicon.ttf') format('truetype'),
		url('../fonts/anyoldicon/anyoldicon.svg#anyoldicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* General grid styles */
.cbp-ig-grid {
	list-style: none;
	padding: 0 0 50px 0;
	margin: 0;
}

/* Clear floats */
.cbp-ig-grid:before, 
.cbp-ig-grid:after { 
	content: " "; 
	display: table;

}

.cbp-ig-grid:after { 
	clear: both; 
}

/* grid item */
.cbp-ig-grid li {
	width: 25%;
	float: left;
	height: 440px;
	text-align: center;
	border-top: 0px solid #ddd;
	background-color: #000000;
	opacity: 0.93;
}

.cbp-ig-grid-two li {
	width: 20%;
	float: left;
	height: 440px;
	text-align: center;
	border-top: 0px solid #ddd;
	background-color: #000000;
	opacity: 0.93;
}

/* we are using a combination of borders and box shadows to control the grid lines */
.cbp-ig-grid li:nth-child(-n+4){
	border-top: none;
}

.cbp-ig-grid li:nth-child(-n+3) {
	box-shadow: 0px 0 0 #ddd;
}

.cbp-ig-grid-two li:nth-child(-n+4){
	border-top: none;
}

.cbp-ig-grid-two li:nth-child(-n+3) {
	box-shadow: 0px 0 0 #ddd;
}

/* anchor style */
.cbp-ig-grid li > a {
	display: block;
	height: 100%;
	color: #CACACA;
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
	transition: background 0.2s;
}


.cbp-ig-grid-two li > a {
	display: block;
	height: 100%;
	color: #CACACA;
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
	transition: background 0.2s;
}
/* the icon with pseudo class for icon font */
.cbp-ig-icon {
	padding: 30px 0 0 0;
	display: block;
	-webkit-transition: -webkit-transform 0.4s;
	transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.cbp-ig-icon:before {
	font-family: 'anyoldicon';
	font-size: 14em;
	speak: none;
	color: #CACACA;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.cbp-ig-icon-shoe:before {
	content: "";
}

.cbp-ig-icon-ribbon:before {
	content: "";
}

.cbp-ig-icon-milk:before {
	content: "";
}

.cbp-ig-icon-whippy:before {
	content: "";
}

/* title element */
.cbp-ig-grid .cbp-ig-title {
	margin: 20px 0 10px 0;
	padding: 20px 0 0 0;
	font-size: 2em;
	color: #CACACA;
	position: relative;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.cbp-ig-grid-two .cbp-ig-title {
	margin: 20px 0 10px 0;
	padding: 20px 0 0 0;
	font-size: 1em;
	color: #CACACA;
	position: relative;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.cbp-ig-grid .cbp-ig-title:before {
	content: '';
	position: absolute;
	background: #6600CC;
	width: 160px;
	height: 6px;
	top: 0px;
	left: 50%;
	margin: -10px 0 0 -80px;
	-webkit-transition: margin-top 0.4s; /* top or translate does not seem to work in Firefox */
	-moz-transition: margin-top 0.4s;
	transition: margin-top 0.4s;
}

.cbp-ig-grid-two .cbp-ig-title:before {
	content: '';
	position: absolute;
	background: #6600CC;
	width: 160px;
	height: 6px;
	top: 0px;
	left: 50%;
	margin: -10px 0 0 -80px;
	-webkit-transition: margin-top 0.4s; /* top or translate does not seem to work in Firefox */
	-moz-transition: margin-top 0.4s;
	transition: margin-top 0.4s;
}

.cbp-ig-grid .cbp-ig-category {
	text-transform: uppercase;
	display: inline-block;
	font-size: 1em;
	letter-spacing: 1px;
	color: #CA;
	-webkit-transform: translateY(10px);
	-moz-transform: -moz-translateY(10px);
	-ms-transform: -ms-translateY(10px);
	transform: translateY(10px);
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	-webkit-transition: transform 0.3s, opacity 0.2s;
}

.cbp-ig-grid-two .cbp-ig-category {
	text-transform: uppercase;
	display: inline-block;
	font-size: 1em;
	letter-spacing: 1px;
	color: #CA;
	-webkit-transform: translateY(10px);
	-moz-transform: -moz-translateY(10px);
	-ms-transform: -ms-translateY(10px);
	transform: translateY(10px);
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	-webkit-transition: transform 0.3s, opacity 0.2s;
}

.cbp-ig-grid  li:hover .cbp-ig-category,
.touch .cbp-ig-grid li .cbp-ig-category {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
}

.cbp-ig-grid-two  li:hover .cbp-ig-category,
.touch .cbp-ig-grid li .cbp-ig-category {
	opacity: 1;
	-webkit-transform: translateY(15px);
	-moz-transform: translateY(15px);
	-ms-transform: translateY(15px);
	transform: translateY(15px);
}

/* Hover styles */

.cbp-ig-grid li > a:hover {
	background: #6600CC;

}

.cbp-ig-grid-two li > a:hover {
	background: #6600CC;

}

.cbp-ig-grid li > a:hover .cbp-ig-icon {
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	-ms-transform: translateY(10px);
	transform: translateY(10px);
}

.cbp-ig-grid-two li > a:hover .cbp-ig-icon {
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	-ms-transform: translateY(10px);
	transform: translateY(10px);
}


.cbp-ig-grid li > a:hover .cbp-ig-icon:before,
.cbp-ig-grid li > a:hover .cbp-ig-title {
	color: #CACACA;
}

.cbp-ig-grid-two li > a:hover .cbp-ig-icon:before,
.cbp-ig-grid-two li > a:hover .cbp-ig-title {
	color: #CACACA;
}

.cbp-ig-grid li > a:hover .cbp-ig-title {
	-webkit-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	transform: translateY(-30px);
}

.cbp-ig-grid-two li > a:hover .cbp-ig-title {
	-webkit-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	transform: translateY(-30px);
}

.cbp-ig-grid li > a:hover .cbp-ig-title:before {
	background: #e0e0e0;
	margin-top: 80px;
}

.cbp-ig-grid-two li > a:hover .cbp-ig-title:before {
	background: #e0e0e0;
	margin-top: 80px;
}

.cbp-ig-grid-two li > a:hover .cbp-ig-title {
	-webkit-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	transform: translateY(-30px);
}

.cbp-ig-grid-two li > a:hover .cbp-ig-title:before {
	background: #e0e0e0;
	margin-top: 80px;
}


@media screen and (max-width: 62.75em) {
	.cbp-ig-grid-two li {
		width: 50%;
	}

	/* reset the grid lines */
	.cbp-ig-grid-two li:nth-child(-n+3){
		border-top: 0px solid #ddd;
	}

	.cbp-ig-grid-two li:nth-child(3n-1),
	.cbp-ig-grid li:nth-child(3n-2) {
		box-shadow: none;
	}

	.cbp-ig-grid-two li:nth-child(-n+2){
		border-top: none;
	}

	.cbp-ig-grid-two lines:nth-child(2n-1) {
		box-shadow: 0px 0 0 #ddd;
	}
}

@media screen and (max-width: 41.6em) { 
	.cbp-ig-grid-two li {
		width: 100%;
	}

	.cbp-ig-grid-two li:nth-child(-n+2){
		border-top: 0px solid #ddd;
	}

	.cbp-ig-grid-two li:nth-child(2n-1) {
		box-shadow: none
	}

	.cbp-ig-grid-two li:first-child {
		border-top: none;
	}
}

@media screen and (max-width: 25em) { 
	.cbp-ig-grid-two {
		font-size: 80%;
	}

	.cbp-ig-grid-two .cbp-ig-category {
		margin-top: 12px;
		margin-bottom: 50px;
	}
}

@media screen and (max-width: 62.75em) {
	.cbp-ig-grid-two li {
		width: 50%;
	}

	/* reset the grid lines */
	.cbp-ig-grid-two li:nth-child(-n+3){
		border-top: 0px solid #ddd;
	}

	.cbp-ig-grid-two li:nth-child(3n-1),
	.cbp-ig-grid-two li:nth-child(3n-2) {
		box-shadow: none;
	}

	.cbp-ig-grid-two li:nth-child(-n+2){
		border-top: none;
	}

	.cbp-ig-grid-two lines:nth-child(2n-1) {
		box-shadow: 0px 0 0 #ddd;
	}
}

@media screen and (max-width: 41.6em) { 
	.cbp-ig-grid-two li {
		width: 100%;
	}

	.cbp-ig-grid-two li:nth-child(-n+2){
		border-top: 0px solid #ddd;
	}

	.cbp-ig-grid-two li:nth-child(2n-1) {
		box-shadow: none
	}

	.cbp-ig-grid-two li:first-child {
		border-top: none;
	}
}

@media screen and (max-width: 25em) { 
	.cbp-ig-grid-two {
		font-size: 80%;
	}

	.cbp-ig-grid-two .cbp-ig-category {
		margin-top: 12px;
		margin-bottom: 50px;
	}
}





body {
  font-family: 'Quicksand', sans-serif;
  background-color: #000000;
}

.container {
	background-image: url("/assets/randombookshelf.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 55px;
	padding-bottom: 200px;
	text-align: center;
}

.pubcontainer {
	background-image: url("/assets/nautinverted.JPG");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding-top: 55px;
	padding-bottom: 5px;
	text-align: center;
	color: #FFFFFF;
}

.perfcontainer {
	background-image: url("/assets/perf5.JPG");
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
	padding-top: 55px;
	padding-bottom: 5px;
	text-align: center;
	color: #FFFFFF;
}

.audcontainer {
	background-image: url("/assets/audio2.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
	padding-top: 55px;
	padding-bottom: 5px;
	text-align: center;
	color: #FFFFFF;
}

.artpagecontainer {
	background-image: url("/assets/audio2.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
	padding-top: 55px;
	padding-bottom: 5px;
	text-align: center;
	color: #FFFFFF;
}

.aboutcontainer {
	background-image: url("/assets/audio2.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
	padding-top: 55px;
	padding-bottom: 5px;
	text-align: center;
	color: #FFFFFF;
}

.printcontainer {
	background-image: url("");
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
	padding-top: 55px;
	padding-bottom: px;
	text-align: center;
	color: #FFFFFF;
}





.main {
	margin-left: auto;
    margin-right: auto;
	width: 100%;
	color: #000000;
	text-align: center;
}

.submain {
	margin-left: auto;
    margin-right: auto;
	width: 90%;
	background-color: #0a0a0a;
	padding-top: 5px;
	padding-bottom: 475px;
	opacity: 0.85;
	text-align: center;
	vertical-align: bottom;
}

.audmain {
	margin-left: auto;
    margin-right: auto;
	width: 90%;
	background-color: #0a0a0a;
	padding-top: 5px;
	padding-bottom: 475px;
	opacity: 0.80;
	text-align: center;
	vertical-align: bottom;
}

.artmain {
	
	margin-top: auto;
    margin-right: auto;
	width: 95%;
	background-color: #0a0a0a;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 505px;
	opacity: 0.90;
	text-align: center;
	vertical-align: bottom;
}

.aboutmain {
	
	margin-top: auto;
    margin-right: auto;
	width: 95%;
	background-color: #0a0a0a;
	padding-top: 5px;
	padding-right: 55px;
	padding-bottom: 619px;
	opacity: 0.90;
	text-align: center;
	vertical-align: bottom;
}

.printmain {
	
	margin-top: auto;
    margin-right: auto;
	width: 95%;
	background-color: #0a0a0a;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 105px;
	opacity: 0.90;
	text-align: center;
	vertical-align: bottom;
}





.menu {
  position: fixed;
  bottom: 0px;
  padding-top: 3px;
  padding-bottom: 15px;
  max-width: 100em;
  height: 10px;
  left: 0px;
  padding-left: 0px;
  text-align: center;
  background-color: #0a0a0a;
  opacity: 0.1;
  z-index: 99;
 
}

.news {
	position: relative;
	height: 250px;
	width: 100%;
	color: #CACACA;
	text-align: center;
	vertical-align: bottom;

}

.nav {
  position: fixed;
  bottom: 0px;
  padding-top: 10px;
  padding-bottom: 15px;
  width: 100%;
  height: 15px;
  left: 0px;
  padding-left: -30px;
  margin-right: auto;
  text-align: center;
  background-color: #0a0a0a;
  opacity: .9;
  z-index: 99;
  word-spacing: 30px;
}

.topper{
	position: fixed;
	top: 0px;
	left: 0px;
	padding-left: 5px;
	width: 100%;
	height: 63px;
	background-color: #000000;
    opacity: 0.9;
    z-index: 99;
}

a {
  color: #ffffff;
  text-decoration: underline;
}

a:hover {
  color: #fffafa;
}

img {
  left: 100px;
  margin-left: auto;
  margin-right: auto;
  height: 230px;
  width: 200px;
}

h1, h2, h3, li,  {
  color: #FFFFFF; 
}

h2 {
	text-align: center;
}

.title {
	position: absolute;
	left: 165px;
	margin-bottom: 50px;
	color: #000000;
	text-align: center;	
}

li, ul {
	color: #FFFFFF;
}



h1:hover {
	color: #6600CC;
	font-weight: bold;	

}

ul {
    list-style-position: inside;
    margin: 0 0 5px 0;

}

/*-- magic starts --*/	


.wrap{
  padding: 2%;
  margin-top: px;
  width: 20em;
  position: fixed;
  top: -30px;
  right: -100px;


}


.wrap div{
  display: inline-block;
}

.icon{
  background-color:#000;
  background-repeat:no-repeat;
  background-position:center center;
  height: 2.5em;
  width: 2.5em;

  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -ms-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

/* -- social media icons --*/

.icon a{
  display: block;
  height: 80%;
  width: 80%;
}

.facebook{
  background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgdmlld0JveD0iLTAuNyAtMC42IDEzNCAyNzgiPjxzdHlsZT4uc3R5bGUwe2ZpbGw6CSNGRkZGRkY7fTwvc3R5bGU+PHBhdGggZD0iTTgyLjYgNThjMCAwLTAuNy01LjUgNC40LTkuNmM1LjEtNCA5LjktMy43IDkuOS0zLjdjMTIuOS0xLjYgMjkuOCAyLjYgMjkuOCAyLjZsNS45LTQyLjdjMCAwLTU5LjctMTQuMy04NS45IDcuMkMyOS41IDI0LjUgMjkuMyA0My43IDI5LjMgNDMuN3Y0Ny43SDAuMmwtMC4yIDQyaDI5LjRsLTEuMSAxNDMuMWw1Mi44IDAuM2wwLjMtMTQzLjRoNDMuMWwyLjktNDEuOWwtNDUuMS0wLjJMODIuNiA1OHoiIGNsYXNzPSJzdHlsZTAiLz48L3N2Zz4=);
  background-size:25%;  
}

.facebook:hover{
  background-color:#3664A2;
}

.twitter{
  background-image:url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iLTAuNyAtMC40IDE4NCAyNDUiID48cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMTgyLjcsMjEzLjVjMCw4LjQtMywxNS42LTksMjEuNWMtNiw2LTEzLjIsOS0yMS42LDlIOTEuNWMtMjUuMiwwLTQ2LjgtOC45LTY0LjctMjYuOEM4LjksMTk5LjQsMCwxNzcuOSwwLDE1Mi44VjMwLjVjMC04LjYsMy0xNS45LDguOS0yMS43QzE0LjksMi45LDIyLjIsMCwzMC44LDBjOC4zLDAsMTUuNSwzLDIxLjUsOWM2LDYsOSwxMy4xLDksMjEuNXY0NC4zaDg2LjJjNy44LDAsMTQuNSwyLjgsMjAuMSw4LjNjNS42LDUuNSw4LjQsMTIuMiw4LjQsMjBjMCw3LjgtMi44LDE0LjQtOC40LDIwYy01LjYsNS41LTEyLjMsOC4zLTIwLDguM0g2MS4ydjIxLjRjMCw4LjQsMi45LDE1LjUsOC44LDIxLjRjNS45LDUuOSwxMyw4LjgsMjEuNSw4LjhIMTUyYzguNCwwLDE1LjYsMywyMS42LDlDMTc5LjcsMTk4LDE4Mi43LDIwNS4xLDE4Mi43LDIxMy41eiIvPjwvc3ZnPg==);
  background-size:40%;
}

.twitter:hover{
  background-color:#44C8F5;
}

.linkedin{
  background-image:url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAtMC4zIDEwNSAxMDUiPjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0xLjcsMzQuNmgyMS43djY5LjdIMS43VjM0LjZ6IE0xMi42LDBjNi45LDAsMTIuNiw1LjYsMTIuNiwxMi42YzAsNi45LTUuNiwxMi42LTEyLjYsMTIuNkM1LjYsMjUuMSwwLDE5LjUsMCwxMi42QzAsNS42LDUuNiwwLDEyLjYsMCIvPjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0zNywzNC42aDIwLjh2OS41aDAuM2MyLjktNS41LDEwLTExLjMsMjAuNS0xMS4zYzIxLjksMCwyNiwxNC40LDI2LDMzLjJ2MzguMkg4Mi45VjcwLjRjMC04LjEtMC4yLTE4LjUtMTEuMy0xOC41Yy0xMS4zLDAtMTMsOC44LTEzLDE3Ljl2MzQuNUgzN1YzNC42eiIvPjwvc3ZnPg==);
  background-size:50%; 
}

.linkedin:hover{
  background-color:#007BB6;
}

.instagram{
  background-image:url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iLTAuOSAtMC44IDYxIDYxIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZmlsbD0iI0ZGRkZGRiIgZD0iTTcuNywwaDQ0LjVjNC4yLDAsNy43LDMuNSw3LjcsNy43djQ0LjVjMCw0LjItMy41LDcuNy03LjcsNy43SDcuN2MtNC4yLDAtNy43LTMuNS03LjctNy43VjcuN0MwLDMuNSwzLjUsMCw3LjcsMEw3LjcsMHogTTQzLjYsNi43Yy0xLjUsMC0yLjcsMS4yLTIuNywyLjd2Ni41YzAsMS41LDEuMiwyLjcsMi43LDIuN2g2LjhjMS41LDAsMi43LTEuMiwyLjctMi43VjkuNGMwLTEuNS0xLjItMi43LTIuNy0yLjdINDMuNkw0My42LDYuN3ogTTUzLjEsMjUuM2gtNS4zYzAuNSwxLjYsMC44LDMuNCwwLjgsNS4xYzAsMTAtOC4zLDE4LTE4LjYsMThzLTE4LjYtOC4xLTE4LjYtMThjMC0xLjgsMC4zLTMuNSwwLjgtNS4xSDYuN3YyNS4zQzYuNyw1Miw3LjcsNTMsOSw1M2g0MS43YzEuMywwLDIuNC0xLjEsMi40LTIuNFYyNS4zTDUzLjEsMjUuM3ogTTMwLDE4LjJjLTYuNiwwLTEyLDUuMi0xMiwxMS43YzAsNi40LDUuNCwxMS43LDEyLDExLjdzMTItNS4yLDEyLTExLjdDNDIsMjMuNCwzNi43LDE4LjIsMzAsMTguMnoiLz48L3N2Zz4=);
  background-size:55%; 
}

.instagram:hover{
  background-color:#3F729B;
}


.flickr{
  background-image:url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI0MnB4IiBoZWlnaHQ9IjIwcHgiIHZpZXdCb3g9Ii0wLjM4OCAtMC45NzUgNDIgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgLTAuMzg4IC0wLjk3NSA0MiAyMCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTE4LjU4Nyw5LjI5M2MwLDUuMTMyLTQuMTU5LDkuMjkyLTkuMjkzLDkuMjkyQzQuMTYyLDE4LjU4NSwwLDE0LjQyNSwwLDkuMjkzQzAsNC4xNjEsNC4xNjIsMCw5LjI5NCwwQzE0LjQyOSwwLDE4LjU4Nyw0LjE2MSwxOC41ODcsOS4yOTMiLz48cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNNDAuOTY3LDkuMjkzYzAsNS4xMzItNC4xNTksOS4yOTItOS4yOTQsOS4yOTJjLTUuMTMyLDAtOS4yOTQtNC4xNi05LjI5NC05LjI5MkMyMi4zNzksNC4xNjEsMjYuNTQxLDAsMzEuNjczLDBDMzYuODA4LDAsNDAuOTY3LDQuMTYxLDQwLjk2Nyw5LjI5MyIvPjwvc3ZnPg==);
  background-size:65%; 
}

.flickr:hover{
  background-color:#FF0084;
}

.soundcloud{
	background-image:url("https://help-assets.soundcloud.com/images/header/logo.png");
	background-size: 100%;
	
}

.soundcloud:hover{
	background-color: #FF9900;
}

.etsy {
	background-image:url("http://www.vertexdesignstudio.com/wp-content/uploads/2014/06/etsy-logoW.png");
	background-size: 250%;
	

}

.etsy:hover {
background-color: #CC7A00;
}


/*-- lightbox --*/

/* CSS Document */


#gallery {
	vertical-align: center;
	margin-left: auto;
	margin-right: auto;
	width:90%;
	height:90%;
	margin:50px auto;
	}

#gallery a {
	text-decoration:none;
	}

#gallery .item {
	width: 200px; height: 200px; overflow: hidden;
	display: inline-block;
	border: 2px solid #333;
	margin: 5px;
	}


#gallery .item a { 
    overflow: hidden;
    align-self: center;
	}

#gallery .item a img {
	height: 100%; 
	display: block;
	margin-left: auto;
	margin-right: auto;
	vertical-align: center;
	align-self: center;
	}

.lightbox {
	/** Hide the lightbox */
	display: none;
	
	/** Apply basic lightbox styling */
	position: absolute;
	z-index: 9999;
	padding-top: 55px;
	width: 95%;
	height: 100%;
	top: 0;
	left: 0;
	color:#333333;
	text-align: center;
	}

.lightbox:target {
    /** Show lightbox when it is target */
    display: block;
    outline: none;
}

.lightbox .box {
  	width: -webkit-min-content;
  	width: -moz-min-content;
  	width: min-content;
	min-width:500px;
 	margin: 2% auto;
	padding:10px 20px 10px 20px;
	background-color:#FFF;
	box-shadow: 0px 1px 26px -3px #777777; 
	text-align: center;
	}

.lightbox .title {
	margin-left: auto;
	margin-right: auto;
	padding:10px 10px 30px 10px;
	border-bottom:0px #ccc solid;
	font-size:22px;
	text-align: center;
	}

.lightbox .content {
	padding-top: 55px;
	display:block;
	position:relative;
	}
	

.lightbox .content .desc {
	z-index:99;
	bottom:0;
	position:relative;
	padding:10px;
	margin:0 0 10px 0;
	background:rgba(0,0,0, 1);
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color:#fff;
	font-size:17px;
	opacity:0;
	transition: opacity ease-in-out 0.5s;
	}	
	
.lightbox .content:hover .desc	{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	opacity: 1;
}

.lightbox .next,
.lightbox .prev,
.lightbox .close {
	display:block;
	text-decoration:none;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:20px;
	color:#858585;
	}

.prev {
	float:left;
	}

.next{
	float:right;
	}

.close {
	float:right;
	padding-right: 50px;
}

.bigger {
  display: inline-block;
  height: 450px;
  width: 420px;

}

.ininko {
  display: inline-block;
  height: 570px;
  width: 420px;

}

.elegy {
  display: inline-block;
  height: 750px;
  width: 420px;

}

	
	.clear {
		display:block;
		clear:both;
		}
